  /* Bouton */
  .carousel_btn{
    text-align: center;
    display: flex;
    justify-content: space-around;
    button {
      border-spacing: 5px;
      border: 0.25rem rgb(119,136,153) inset;
      border-radius: 0.6rem;
      cursor: pointer;
      text-transform: uppercase;
      position: relative;
      color:#7f7f7f;
      font-size: 0.9rem;
      background:none;
      letter-spacing : 0.5rem;
      padding: 0.6rem 2.5rem;
      text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5),
              2px -1px 0 rgba(255, 255, 255, 0.9);
             
    }
  }
   
  

  

 

    