
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
    
  }
  
  .container-carrousel {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s ease-in-out;
   
  }
  
  .carrousel {
    --rotatey: 0;
    position: relative;
    transform: rotatey(var(--rotatey));
    transform-style: preserve-3d;
    user-select: none;
    cursor: grab;
  }
  
  .carrousel-item {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  
 
  
  .carrousel,
  .carrousel-item {
    width: 100%;
    height: 100%
  }
  
  .carrousel-item:nth-child(1) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://icons.iconarchive.com/icons/hopstarter/halloween-avatar/512/Zombie-PVZ-icon.png);
  }
  
  .carrousel-item:nth-child(2) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://icons.iconarchive.com/icons/hopstarter/halloween-avatar/512/Zombie-icon.png);
  }
  
  .carrousel-item:nth-child(3) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://icons.iconarchive.com/icons/hopstarter/halloween-avatar/512/Mike-icon.png);
  }
  .carrousel-item:nth-child(4) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://icons.iconarchive.com/icons/hopstarter/halloween-avatar/512/Jack-Skellington-icon.png);
  }
  
  .carrousel-item:nth-child(5) {
    --rotate: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://icons.iconarchive.com/icons/hopstarter/halloween-avatar/512/Frankenstein-icon.png);
  }
  
  .carrousel-item:nth-child(6) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background-image: url(https://icons.iconarchive.com/icons/hopstarter/halloween-avatar/512/Harley-icon.png);
  }
  
  @media screen and (min-width: 576px) {
    .container-carrousel {
    --widthItem: 250px;
    --heightItem: 200px;
    }
  }


