* { box-sizing: border-box; }

$color-primary: #3D314A;
$color-secondary: #F5F1ED;
$font: Anton, sans-serif;




body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1e22;
    background-color: #1d1e22;
  }